.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: inherit;
  margin-top: 4.5%;
  overflow: hidden;
}

.about-me__banner-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about-me__banner {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 850px;
  padding: 0;
  filter: sepia(50%);
}

.about-me__title {
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 45%;
  left: 20%;
  color: white;
  font-weight: 600;
  font-size: 4rem;
  transition: transform 1s ease-in-out;
}

.about-me__title:hover {
  transform: translateX(50px);
}

@keyframes moverTexto {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.about-me__texto {
  animation: moverTexto 2s ease-in-out infinite;
}

.about-me__render-images {
  width: 70%;
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.about-me__wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.about-me__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-me__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.about-me__paragraph {
  color: white;
  font-size: 18px;
}

.about-me__wrapper:hover .about-me__overlay {
  opacity: 1;
  border-radius: 20px;
}

.about-me__color {
  width: 100vw;
  background-color: black;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me__typewriter {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.about-me__container-phrases {
  width: 90%;
  margin: 8% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-me__phrases {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5rem;
  width: 30%;
  text-align: justify;
  padding: 20px;
  margin: 0;
  text-wrap: wrap;
}

.about-me__phrases-image {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 880px) {
  .about-me__title {
    top: 46%;
    font-size: 2.5rem;
  }

  .about-me__color {
    height: 35vh;
  }

  .about-me__typewriter {
    font-size: 2.5rem;
  }

  .about-me__container-phrases {
    gap: 30px;
  }

  .about-me__phrases {
    font-size: 0.8rem;
  }

  .about-me__phrases-image {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 762px) {
  .about-me__container-phrases {
    gap: 20px;
  }

  .about-me__phrases {
    font-size: 0.6rem;
    padding: 10px;
  }

  .about-me__phrases-image {
    width: 210px;
    height: 170px;
  }
}

@media screen and (max-width: 650px) {
  .about-me__title {
    top: 50%;
    left: 15%;
    font-size: 2rem;
    white-space: wrap;
  }

  .about-me__typewriter {
    font-size: 2.2rem;
  }

  .about-me__phrases-image {
    width: 165px;
    height: 220px;
  }
}

@media screen and (max-width: 450px) {
  .about-me__title {
    font-size: 1.5rem;
  }

  .about-me__typewriter {
    font-size: 1.5rem;
  }

  .about-me__container-phrases {
    width: 90%;
  }

  .about-me__phrases-image {
    width: 130px;
    height: 220px;
  }
}
