.profile {
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}

.profile__content {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__banner {
  object-fit: cover;
  width: 80vw;
  height: 600px;
  border-radius: 20px;
  margin: 15% auto 0;
}

.profile__name-user {
  font-family: monospace;
  font-size: 40px;
  margin: 8% auto 10px;
  white-space: nowrap;
}

.profile__history {
  background-color: black;
  height: 35vh;
  width: 100vw;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.profile__history-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: justify;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

.profile__btn {
  border: solid 2px #151513;
  background-color: white;
  margin: 30% 0;
  border-radius: 20px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.profile__btn:hover {
  background-color: #151513;
  border: none;
}
.profile__btn-link {
  text-decoration: none;
  font-weight: 600;
  color: #333333;
  font-size: 18px;
  transition: color 0.3s ease-in-out, 0.2s ease-in-out;
}

.profile__btn-link:hover {
  color: white;
  font-size: 20px;
}

@media (max-width: 750px) {
  .profile__banner {
    width: 90vw;
    height: 400px;
    margin-top: 20%;
  }

  .profile__name-user {
    font-size: 25px;
    margin: 5% auto 10px;
  }

  .profile__history {
    height: 25vh;
  }

  .profile__history-description {
    font-size: 0.6rem;
    line-height: 15px;
  }

  .profile__btn {
    margin: 25% 0;
    width: 190px;
    height: 45px;
  }

  .profile__btn-link {
    margin: 0;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .profile__banner {
    width: 90vw;
    height: 300px;
    margin-top: 30%;
  }

  .profile__name-user {
    font-size: 20px;
    margin: 5% auto 10px;
  }

  .profile__history {
    height: 30vh;
  }

  .profile__history-description {
    font-size: 0.5rem;
  }

  .profile__btn {
    margin: 20% 0;
    width: 180px;
    height: 40px;
  }

  .profile__btn-link {
    font-size: 15px;
    padding: 5px;
    margin: 0;
  }
}
