.form {
  width: 440px;
  height: 450px;
  border-radius: 30px;
  background-color: white;
  border: #151513 solid 2px;
  margin-top: 10%;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 57px;
  margin-top: 50px;
}

.form__error-message {
  color: red;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.form__input {
  padding-left: 30px;
  width: 320px;
  height: 50px;
  background-color: white;
  font-weight: 400;
  border-radius: 40px;
  border: 1px solid #cfcfcf;
  outline: none;
}

.form__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  background-color: white;
  border: solid 2px #151513;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  margin-bottom: 20px;
}

.form__btn:active {
  background-color: rgb(226, 226, 226);
}

.form__btn_google {
  font-size: 15px;
  position: relative;
  border-radius: 20px;
  width: 280px;
}

.form__btn-logo {
  position: absolute;
  left: 20px;
  top: 20%;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
