.form {
  width: 440px;
  height: 450px;
  border-radius: 30px;
  background-color: white;
  border: #151513 solid 2px;
  margin-top: 10%;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 57px;
  margin-top: 50px;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.form__input {
  padding-left: 30px;
  width: 320px;
  height: 50px;
  background-color: white;
  font-weight: 400;
  border-radius: 40px;
  border: 1px solid #cfcfcf;
  outline: none;
}

.form__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  background-color: white;
  border: solid 2px #151513;
  border-radius: 20px;
  width: 220px;
  height: 50px;
  margin-bottom: 20px;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.form__btn:active {
  background-color: rgb(226, 226, 226);
}

.form__btn:hover {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
}

.form__error-message {
  color: red;

}

@media screen and (max-width: 551px) {
  .form {
    width: 50%;
  }

  .form__title {
    text-align: center;
    font-size: 28px;
    margin: 40px auto;
    width: 50%;
  }

  .form__input {
    width: 60%;
  }

  .form__btn-container {
    width: 60%;
  }

  .form__btn {
    width: 80%;
  }
  .form__error-message {
    font-size: 13px;
    width: 110%;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .form {
    width: 90%;
    height: 60%;
  }

  .form__title {
    font-size: 24px;
    margin: 30px auto;
  }

  .form__input {
    width: 60%;
    font-size: 13px;
    height: 40px;
  }

  .form__btn {
    width: 100%;
  }
}
