.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: solid 1px #85847c;
  border-radius: 20px;
}

.card__container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  padding: 10px;
}

.card__image {
  border-bottom: solid 1px #85847c;
  width: 300px;
  height: 220px;
  border-radius: 20px 20px 0 0;
}

.card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  margin: 0;
}

.card__title:hover {
  opacity: 50%;
}

.card__description {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 0;
  width: 80%;
  text-align: justify;
}

.card__divider {
  border: 0;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  margin: 20px 0 10px;
}

.card__emotion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__item {
  font-size: 13px;
  font-weight: 200;
  margin-left: 20px;
}

.card__item:first-child {
  margin-left: 0;
}

.card__like-number {
  font-size: 13px;
  font-weight: 200;
  margin-left: 20px;
}

.card__like {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
}

.card__like:hover {
  opacity: 50%;
}

.card__like_active {
  color: #f25a5a;
}

.card__like_active:hover {
  opacity: 100%;
}

@media (max-width: 750px) {
  .card {
    width: 250px;
    height: 400px;
  }

  .card__image {
    width: 250px;
    height: 170px;
    border-radius: 20px 20px 0 0;
  }

  .card__container {
    width: 200px;
  }

  .card__title {
    font-size: 15px;
  }

  .card__description {
    font-size: 12px;
  }

  .card__divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card__emotion {
    width: 200px;
    margin: 0 auto 10px;
  }

  .card__item,
  .card__like-number {
    font-size: 13px;
  }

  .card__like {
    font-size: 17px;
  }
}

@media (max-width: 350px) {
  .card {
    width: 250px;
    height: auto;
  }

  .card__image {
    width: 250px;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }

  .card__container {
    width: 200px;
    justify-content: space-evenly;
  }

  .card__title {
    font-size: 15px;
  }

  .card__description {
    font-size: 12px;
  }

  .card__divider {
    margin: 10px 0;
  }

  .card__emotion {
    width: 190px;
    margin: 0 auto 10px;
  }

  .card__item,
  .card__like-number {
    font-size: 12px;
  }

  .card__like {
    font-size: 16px;
  }
}
