.contact {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  width: 100vw;
}

.contact_position {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__no-parallax {
  background-color: black;
  z-index: 999;
  display: flex;
  justify-content: start;
}

.contact__no-parallax_flex {
  height: 90%;
  justify-content: center;
}

.contact__text {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact__text_margin {
  margin-top: 10%;
}

.contact__parallax .contact__text {
  width: 60%;
  font-size: 3rem;
}

.contact__parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  width: 100vw;
}

.contact__parallax_bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--url);
  background-size: cover;
  object-fit: cover;
}

.contact__social-text {
  color: white;
  width: 80%;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.contact__social-container {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contact__social-networks {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
}

.contact__social-icon {
  color: black;
  width: 120px;
  height: 120px;
  padding: 20%;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.contact__social-icon:hover {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 800px) {
  .contact__social-container {
    width: 90%;
  }

  .contact__social-networks {
    width: 170px;
    height: 170px;
  }

  .contact__social-icon {
    width: 110px;
    height: 110px;
  }

  .contact__social-icon:hover {
    width: 120px;
    height: 120px;
    padding: 20%;
  }
}

@media screen and (max-width: 768px) {
  .contact__position .contact__text {
    font-size: 3.5rem;
  }

  .contact__parallax .contact__text {
    font-size: 3.5rem;
  }

  .contact__text_margin {
    margin-top: 25%;
  }

  .contact__social-text {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .contact__parallax .contact__text {
    font-size: 3rem;
    width: 80%;
  }

  .contact__social-container {
    width: 80%;
    flex-wrap: wrap;
    gap: 0;
  }

  .contact__social-networks {
    width: 130px;
    height: 130px;
  }

  .contact__social-icon {
    width: 90px;
    height: 90px;
    padding: 15%;
  }

  .contact__social-icon:hover {
    width: 100px;
    height: 100px;
    padding: 10%;
  }
}

@media screen and (max-width: 450px) {
  .contact__text {
    font-size: 3rem;
  }

  .contact__text_margin {
    margin-top: 40%;
  }
  .contact__social-text {
    font-size: 2rem;
    width: 85%;
    margin-bottom: 50px;
  }

  .contact__social-networks {
    width: 100px;
    height: 100px;
  }

  .contact__social-icon {
    width: 70px;
    height: 70px;
  }

  .contact__social-icon:hover {
    width: 80px;
    height: 80px;
  }
}
