.header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
}

.header__content-item {
  display: flex;
  width: 0;
  align-items: center;
}

.header__logo {
  object-fit: cover;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.header__menu-bars {
  display: none;
}

@media screen and (max-width: 980px) {
  .header__container {
    justify-content: space-between;
    flex-direction: column;
  }

  .header__content-item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu-bars {
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
  }
}
