.header {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.header__logo {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-left: 60px;
  cursor: pointer;
}

.header__button {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 500px;
}

.header__button-register {
  color: white;
  border-radius: 20px;
  border: 0 none;
  background-color: #151513;
  font-weight: 600;
  padding: 10px;
  margin-left: 20px;
  height: 50px;
  width: 130px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.header__button-register:hover {
  font-size: 20px;
  color: #151513;
  border: #151513 solid 2px;
  background-color: white;
}

.header__login {
  color: black;
  background-color: white;
  border: solid 2px #151513;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.15s ease-in-out;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.header__login:hover {
  font-size: 20px;
  color: white;
  background-color: #151513;
  border: none;
}

@media screen and (max-width: 898px) {
  .header__container {
    width: 80%;
  }

  .header__button {
    font-size: 15px;
  }

  .header__button-register {
    width: 100px;
  }

  .header__login {
    width: 130px;
  }

  .header__login:hover {
    font-size: 18px;
  }
}
