.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery__modal {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gallery__modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.gallery__modal-img {
  width: auto;
  max-width: 50%;
  max-height: 60%;
  object-fit: cover;
}

.gallery__arrow-icon {
  color: #f5f0f0;
  margin: 3%;
  font-size: 40px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.gallery__arrow-icon:hover {
  opacity: 50%;
}

.gallery__modal-close {
  background-color: white;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  width: 130px;
  height: 40px;
  margin-top: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.gallery__modal-close:hover {
  font-size: 20px;
}

.gallery__title {
  margin: 10% auto 3%;
  font-size: 3rem;
  text-align: justify;
}

.gallery__container {
  width: 100%;
  color: black;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__paragraph {
  margin: 0 auto;
  width: 80%;
  font-size: 1rem;
  font-weight: 200;
  text-align: justify;
}

.gallery__preloader {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  -webkit-animation: spin 0.7s linear infinite;
  -moz-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

.gallery__content-image {
  padding: 20px;
  width: 90%;
}

.gallery__image {
  display: block;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.gallery__btn {
  margin-top: 50px;
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.gallery__btn:hover {
  border: solid 2px black;
  color: black;
  background-color: white;
  font-size: 20px;
}

@media (max-width: 750px) {
  .gallery__modal-box {
    height: 70%;
  }

  .gallery__modal-img {
    max-width: 70%;
    max-height: 80%;
  }

  .gallery__arrow-icon {
    font-size: 30px;
  }

  .gallery__modal-close {
    width: 110px;
    height: 35px;
    font-size: 16px;
  }

  .gallery__title {
    font-size: 1.5rem;
    margin: 25% auto 10px;
    width: 60%;
  }

  .gallery__container {
    width: 80%;
    margin-bottom: 3%;
  }

  .gallery__paragraph {
    font-size: 0.9rem;
  }

  .gallery__btn {
    width: 150px;
    height: 50px;
    font-size: 15px;
  }

  .gallery__btn:hover {
    font-size: 17px;
  }
}

@media (max-width: 350px) {
  .gallery__modal {
    justify-content: flex-start;
  }

  .gallery__modal-box {
    height: 100%;
  }

  .gallery__modal-img {
    max-width: 100%;
    max-height: 100%;
  }

  .gallery__title {
    font-size: 1rem;
    margin: 45% auto 10px;
    width: 200px;
  }

  .gallery__container {
    width: 90%;
    margin-bottom: 2%;
  }

  .gallery__paragraph {
    width: 80%;
    font-size: 0.8rem;
  }

  .gallery__btn {
    width: 120px;
    height: 45px;
    font-size: 12px;
  }

  .gallery__btn:hover {
    font-size: 13px;
  }
}
