.footer {
  background-color: black;
  height: 200px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.footer__title {
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.7rem;
}

@media (max-width: 570px) {
  .footer__title {
    font-size: 15px;
    line-height: 1.3rem;
  }
}

@media (max-width: 470px) {
  .footer__title {
    font-size: 14px;
    line-height: 1.2rem;
  }
}
